body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-field {
    margin-bottom: 20px;
}

button {
    background-color: #375DFF !important;
    color: white;
    width: 100%;
    margin-top: 20px;
}

#schedule {
    margin-top: 20px;
    padding: 20px;
}
